html {
  font: 50px Courier;
  color: white;
}
.box {
  padding: 50px;
  width: 70px;
}
.odd {
  background-color: #ee3e64;
}
.even {
  background-color: #44accf;
}
#box_0 {
	margin-left: 255px;
}
#box_1 {
	margin-left: 170px;
}
#box_2 {
	margin-left: 340px;
	margin-top: -158px;
}
#box_3 {
	margin-left: 85px;
}
#box_4 {
	margin-left: 255px;
	margin-top: -158px;
}
#box_5 {
	margin-left: 425px;
	margin-top: -158px;
}
#box_7 {
	margin-left: 170px;
	margin-top: -158px;
}
#box_8 {
	margin-left: 340px;
	margin-top: -158px;
}
#box_9 {
	margin-left: 510px;
	margin-top: -158px;
}
	
}