html {
  font: 50px Courier;
  color: white;
}
.box {
  padding: 50px;
  width: 70px;
}
.odd {
  background-color: #ee3e64;
}
.even {
  background-color: #44accf;
}
#box_1 {
	margin-left: 170px;
}
#box_2 {
	margin-left: 340px;
}
#box_3 {
	margin-left: 510px;
}
#box_4 {
	margin-left: 680px;
}
#box_5 {
	margin-left: 680px;
}
#box_6 {
	margin-left: 510px;
}
#box_7 {
	margin-left: 340px;
}
#box_8 {
	margin-left: 170px;
}