body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

p {
	line-height: 3px;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}
.star{
	width: auto;
	height:20px;
	vertical-align: text-top;
}

.img-title{
	float: left;
	width: auto;
	height: 125px;	
}
.img-title2{
	float: left;
	width: auto;
	height: 200px;	
}
.img-title3{
	float: left;
	width: auto;
	height: 300px;	
}
.text{
	width: auto;
	height: auto;
	text-align: left;
	margin-left: 250px;
}

.container {
	height: 150px;
	border-bottom: solid 1px black;
	width: 95%;
}
.bold{
	font-weight: bold;
}
.red{
	color: red;
	margin-left: 5px;
}
.container2 {
	display:inline-block;
	margin-right: 100px;
	margin-left: 75px;
}
.container3 {
	display:inline-block;
	margin-right: 100px;
	margin-left: 75px;
}
.white{
	background-color: #fff;
	width:250px;
	text-align: left; 

}
tr:nth-child(even){
	background-color: #f6f6f6;
	width: 700px;
	
}
table{
	border-collapse:collapse;
}
.detail{
	line-height:20px;
}

